
body {
    background-color:bisque;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
input[type="text"],
input[type="email"], 
input[type="tel"],
input[type="date"],
input[type=number],
select,
textarea{
    width: 50%
}
h1 {
    text-align: center;
}
#contact-section {
    padding: 1em;
    border-bottom: solid black;
}
#contact-info {
    text-align: center;
}
label {
    display: block;
    padding: 5px;
}
h2 {
    text-align: center;
}
.questionaire-prompt {
    text-align: center;
}
button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    width: 90px;
    margin: 1rem auto;
    display: block;
}
button[type="submit"]:hover {
    background-color: rgb(91, 8, 8);
    color: white;
}
fieldset {
    border: none; 
}
#emergency-contact {
    border-bottom: solid black;
}
#questionaire {
    border-bottom: solid black;
}
#retreat-specific {
    border-bottom: solid black;
}
#bapstism {
    border-bottom: solid black;
}
input:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
}
